﻿@model Wabo.Dal.Group

@{
    ViewBag.Title = String.Format(Messages.HeadingDeleteGroup,Model.name);
}


@using(Html.BeginForm("Delete","Group"))
{
    @Html.HiddenFor(g => g.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>    
        <h3>
            @String.Format(Messages.DeleteGroupConfirmationMessage,Model.name)        
        </h3>        
        <br/>
        <br/>
        <button type="submit" class="btn btn-danger">@Messages.ButtonDelete</button>
        <a class="btn" href="@Url.Action("Index","Group")">@Messages.ButtonCancel</a>
    </fieldset>    
}
