﻿@model Wabo.Dal.Group

@{
    ViewBag.Title = String.Format(Messages.HeadingEditGroup, Model.name);
}


@using (Html.BeginForm("Edit", "Group"))
{
    
    @Html.HiddenFor( g => g.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>
        @Html.LabelFor( g => g.name )
        @Html.TextBoxFor(g => g.name )   
        <br/>
        @Html.ValidationSummary()
        <button type="submit" class="btn btn-primary">@Messages.ButtonUpdate</button>
        <a href="@Url.Action("Index","Group")" class="btn">@Messages.ButtonCancel</a>
    </fieldset>      
}
