﻿@model Wabo.Web.Areas.Manager.ViewModels.Group.GroupUserAddViewModel

@{
    ViewBag.Title = String.Format(Messages.HeadingGroupUsersList, Model.Group.name);
}


@using(Html.BeginForm("Users","Group"))
{
    @Html.HiddenFor( g => g.Group.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>    
        @Html.EditorFor( u => u.Users)
        <br/>
        <button type="submit" class="btn btn-primary">@Messages.ButtonUpdate </button>
        <a href="@Url.Action("Index","Group")" class="btn">@Messages.ButtonCancel</a>
    </fieldset>
}
