﻿@model Wabo.Dal.SystemSettings

@{
    ViewBag.Title = "Index";
}

@using(Html.BeginForm("Index","SystemSettings"))
{
    <fieldset>
        <legend>Settings</legend>
        @Html.LabelFor(s => s.application_name)
        @Html.TextBoxFor(s => s.application_name)
        @Html.LabelFor(s => s.log_items_per_page)
        @Html.TextBoxFor(s => s.log_items_per_page)
        @Html.LabelFor(s => s.login_lock_timeout)
        @Html.TextBoxFor(s => s.login_lock_timeout)
        @Html.LabelFor(s => s.max_login_attempts)
        @Html.TextBoxFor(s => s.max_login_attempts)
        @Html.LabelFor(s => s.theme)
        @Html.DropDownListFor( s => s.theme, (IEnumerable<SelectListItem>)ViewBag.Themes)
        
        <br/>
        <button type="submit" class="btn btn-primary">@Messages.ButtonUpdate</button>
    </fieldset>
}

