﻿@model Wabo.Dal.Group

@{
    ViewBag.Title = Messages.HeadingCreateGroup;
}

@using (Html.BeginForm("Create", "Group"))
{
    <fieldset>
        <legend>
            @Messages.HeadingCreateGroup
        </legend>
        @Html.LabelFor( g => g.name )
        @Html.TextBoxFor(g => g.name)
        <br/>
        <button type="submit" class="btn btn-primary">@Messages.ButtonCreate</button>
        <a class="btn" href="@Url.Action("Index","Group")">@Messages.ButtonCancel</a>
    </fieldset>    
}
