﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{
        var currentThemePath = Url.Content(ViewBag.ThemePath);
    }
    <link rel="stylesheet" href="@(currentThemePath+"css/bootstrap.css")"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="@(currentThemePath+"js/jquery-2.0.0.min.js")"></script>
    <script src="@(currentThemePath+"js/bootstrap.js")"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <style type="text/css">
        html,
        body {
            height: 100%;            
        }
        #waboMainWrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -60px;
        }

        #WaboSpacer,#WaboFooter {
            height: 60px;
        }
        #WaboFooter {
            background-color: #f5f5f5;
        }
        #WaboFooter .container .credit {
            margin: 20px 0;
        }
    </style>
    
</head>
    <body>
        <div id="waboMainWrapper">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand">@ViewBag.ApplicationName</a>
                        <div class="nav-collapse collapse">
                            @Html.Partial("AdminViewMenu",(WaboSystemMenuViewModel)ViewBag.AdminMenu)                                                      
                        </div>
                    </div>                
                </div>
            </div>
            @if( ViewBag.InfoMessage.ToString().Length > 0 )
            {                                
                <div class="container alert alert-success hide">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @ViewBag.InfoMessage                    
                </div>
            }
            <div class="container">
                    @RenderBody()                
            </div>
        </div>
        
        <div id="WaboFooter">
            <div class="container">
                <p class="muted credit">
                    <a href="https://wabo.codeplex.com">WABO</a> 
                    <span class="pull-right">https://wabo.codeplex.com</span>
                </p>
            </div>
        </div>
        
    </body>    
    <script type="text/javascript">
        $(document).ready(function () {
            $(".alert").fadeIn(1000);
        });
    </script>
</html>
