﻿@model Wabo.Web.Areas.Manager.ViewModels.ConfirmationViewModel

@using(Html.BeginForm(Model.ConfirmationAction,Model.ConfirmationController))
{
    <fieldset>
        <legend>
            @Model.Title
        </legend>    
        <h3>
            @Model.Message
        </h3>        
        <br/>
        <br/>
        <button type="submit" class="btn btn-danger">@Messages.ButtonOk</button>
        <a class="btn" href="@Url.Action(Model.ConfirmationAction,Model.ConfirmationController)">@Messages.ButtonCancel</a>
    </fieldset> 
}