﻿
@import "http://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext";
html {
    height: 100%;
}

body {
    padding-top: 80px;
    background : #777;
}
.blue {
    color: #447FC8;
}
.btn-black {
    background-color: #222222;
    background-image: none;
    box-shadow: none;
    color: white;
    padding: 5px 20px;
    text-shadow: none;
}
.btn-black:hover {
    background: none repeat scroll 0 0 #333333;
    color: white;
}
.navbar .brand {
    margin-top: 20px;
    max-height: 40px;
    padding-bottom: 8px;
    width: auto;
}
.navbar .navbar-inner {
    background: none repeat scroll 0 0 white;
    filter: none;
    height: 80px;
}
.navbar .nav {
    margin-top: 20px;
}
.navbar .nav > li > a {
    color: #333333;
    padding: 10px 10px 11px;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
    color: #111111;
}
.navbar .nav > li.active > a {
    background: none repeat scroll 0 0 transparent;
    color: #111111;
}
.navbar .nav > li.active > a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #111111;
}

#login-wrapper {
    background: none repeat scroll 0 0 white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    display: block;
    height: 320px;
    left: 50%;
    margin-left: -235px;
    margin-top: -185px;
    padding: 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 420px;
}
.login-form legend {
    margin-bottom: 30px;
    margin-top: 5px;
    padding-bottom: 25px;
    text-align : center;
}
.login-form .body {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 30px;
}
.login-form .footer {
    margin-top: 20px;
}
.login-form .footer .checkbox.inline {
    display: inline;
}
.login-form .footer .checkbox.inline input[type="checkbox"] {
    float: none;
    margin-top: -4px;
}
.login-form .footer .btn {
    background-image: none;
    box-shadow: none;
    margin-left: 15px;
    padding: 7px 25px;
}

footer.white {
    background: none repeat scroll 0 0 white;
    height: 50px;
    padding-top: 20px;
    text-align: center;
}
.navbar {
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.login-form legend {
    color: #333333;
    font-family: 'Oswald',Helvetica,sans-serif;
    font-size: 36px;
    font-weight: 300;
}
.login-form label {
    color: #333333;
    font-family: 'Oswald',Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 300;
}

footer.navbar-fixed-bottom {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.navbar {
    height: auto;
    margin-bottom: 0;
}
.navbar .brand {
    margin-top: 0;
}
.navbar .navbar-inner {
    height: auto;
}
.navbar .nav > li > a:hover {
    color: white;
}
/*
#login-wrapper {
    margin-top: 25px;
    position: relative;
    top: 0;
}
#login-wrapper {
    height: auto;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

*/