﻿@model Wabo.Web.Areas.Manager.ViewModels.SetupOptionsViewModel

@{
    ViewBag.Title = Messages.HeadingInstallScreen;
}

@using (Html.BeginForm("Do", "Install"))
{
    <fieldset>
        <legend>
            @ViewBag.Title  
        </legend>
        <h2>Warning!!</h2>
        <p class="warning">Installation will erase all data in base WABO tables and insert default data.</p>
        @*
        <label class="checkbox">        
            @Html.CheckBoxFor( x => x.TruncateTables )
            @Html.LabelFor( x => x.TruncateTables )
        </label>
        <label class="checkbox">                    
            @Html.CheckBoxFor( x => x.InstallModules )
            @Html.LabelFor( x => x.InstallModules )
        </label>
        <label class="checkbox">                    
            @Html.CheckBoxFor( x => x.InstallGroups )
            @Html.LabelFor( x => x.InstallGroups )
        </label>
        <label class="checkbox">        
            @Html.CheckBoxFor( x => x.InstallUsers )
            @Html.LabelFor( x => x.InstallUsers )
        </label>
        <label class="checkbox">        
            @Html.CheckBoxFor( x => x.InstallPermissions )
            @Html.LabelFor( x => x.InstallPermissions )
        </label>
        *@
        
        <button type="submit" class="btn btn-primary">@Messages.ButtonInstall</button>
    </fieldset>
    
}
