﻿@model Wabo.Web.Areas.Manager.ViewModels.Acl.AclItem

<tr>
    <td>
        @Model.Module.title      
        @Html.HiddenFor( x => x.Group.id)               
        @Html.HiddenFor( x => x.Group.name)               
        @Html.HiddenFor( x => x.Module.id)
        @Html.HiddenFor( x => x.Module.title)        
        @Html.HiddenFor( x => x.Module.controller)        
    </td>
    <td>@Html.CheckBoxFor( c => c.List)</td>
    <td>@Html.CheckBoxFor( c => c.Read)</td>
    <td>@Html.CheckBoxFor( c => c.Write)</td>
    <td>@Html.CheckBoxFor( c => c.Delete)</td>
</tr>