﻿@model Wabo.Web.Areas.Manager.ViewModels.Acl.AclViewModel

@{
    ViewBag.Title = String.Format(Messages.ACL_AccessTableHeading, ViewBag.GroupName);
}

@using (Html.BeginForm("GroupAcl", "Acl"))
{
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>    
        <table class="table">
            <thead>
                <tr>
                    <th>@Messages.ACL_AccessTable_ModuleName</th>
                    <th>@Messages.ACL_AccessTable_List</th>
                    <th>@Messages.ACL_AccessTableRead</th>
                    <th>@Messages.ACL_AccessTableWrite</th>
                    <th>@Messages.ACL_AccessTableDelete</th>
                </tr>
            </thead>
            @Html.EditorFor(e => e.AclItems)                     
        </table>
        
        @Html.ValidationSummary()      

        <button class="btn btn-primary" type="submit">@Messages.ButtonUpdate</button>
        <a href="@Url.Action("Index","Group")" class="btn">@Messages.ButtonCancel</a>    
    </fieldset>
}
