﻿@model Wabo.Dal.User

@{
    ViewBag.Title = Messages.CreateNewUser;
}

@using (Html.BeginForm("Create", "User"))
{
    <fieldset>
        <legend>
            @Messages.CreateNewUser
        </legend>            
        @Html.LabelFor( u => u.username)
        @Html.TextBoxFor( x => x.username )
        @Html.ValidationMessageFor( x => x.username)   
        @Html.LabelFor( x => x.email)
        @Html.TextBoxFor( x => x.email)
        @Html.ValidationMessageFor( x => x.email)   
        @Html.LabelFor( x => x.name )
        @Html.TextBoxFor(x=>x.name)
        @Html.LabelFor( x => x.last_name)
        @Html.TextBoxFor(x=>x.last_name)        
        @Html.LabelFor( x => x.password )
        @Html.PasswordFor( x => x.password )   
        @Html.ValidationMessageFor( x => x.password)     
        <br />        
        <br />
        <button type="submit" class="btn btn-primary">@Messages.ButtonCreate</button>
        <a class="btn" href="@Url.Action("Index","User")">@Messages.ButtonCancel</a>
    </fieldset>
}