﻿@model Wabo.Web.Areas.Manager.ViewModels.User.UserSettingsViewModel

@{
    ViewBag.Title =Messages.HeadingUserProfile;
}

@using (Html.BeginForm("Settings", "User"))
{
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email) 
        @Html.ValidationMessageFor( x => x.Email)
        
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName)
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName)
        @Html.LabelFor( x => x.Password)
        @Html.PasswordFor(x => x.Password)
        
        <br/>
        <button class="btn btn-primary" type="submit">@Messages.ButtonUpdate</button>        
    </fieldset>
}


