﻿<!DOCTYPE html>

@model LogonViewModel
@{
    Layout = null;
}

@{
    ViewBag.Title = Messages.HeadingLogonPage;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        var currentThemePath = Url.Content(ViewBag.ThemePath);
    }
    <link rel="stylesheet" href="@(currentThemePath+"css/bootstrap.css")"/>
    <script src="@Url.Content("~/Scripts/jquery-2.0.0.js")"></script>
    <script src="@(currentThemePath+"js/bootstrap.js")"></script>
    
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
</head>
    <body>
        <div class="container">
            
            @using(Html.BeginForm(  "Index",
                                    "Logon",
                                    FormMethod.Post,
                                    new{@class="form-signin"})
                )
            {
                <h2 class="form-signin-heading">@Messages.HeadingLogonPage</h2>
                
                @Html.LabelFor(x => x.Username) 
                @Html.TextBoxFor(x => x.Username,new{@class="input-block-level"}) 
                
                <br />
                
                @Html.LabelFor( x => x.Password) 
                @Html.PasswordFor(x => x.Password)
                <br />
                <label class="checkbox">                    
                    @Html.CheckBoxFor(x => x.RememberMe)
                    @Html.LabelFor(x => x.RememberMe)
                </label>
                <button class="btn btn-large btn-primary" type="submit">
                    @Messages.ButtonLogon
                </button>
                @Html.ValidationSummary()<br/>
            }
            <br/>
            <div class="text-center"><a href="https://wabo.codeplex.com/">WABO</a></div>
        </div>
           
    </body>
</html>