﻿@model Wabo.Dal.Module

@{
    ViewBag.Title = @Messages.CreateNewModule;
}

@using (Html.BeginForm("Create", "Module"))
{
    <fieldset>
        <legend>
            @Messages.HeadingCreateModule
        </legend>
        @Html.LabelFor(p => p.title)
        @Html.TextBoxFor( p => p.title ) 
        @Html.LabelFor( p => p.controller)
        @Html.TextBoxFor( p => p.controller )
        @Html.LabelFor( p => p.order )
        @Html.TextBoxFor( p => p.order ) <br />
        <label class="checkbox">
            @Html.CheckBoxFor(p => p.show_on_menu)
            @MetadataMessages.DISP_ShowOnMenu
        </label>
        @Html.ValidationSummary()
        <br/>
        <button class="btn btn-primary" type="submit">@Messages.ButtonCreate</button>
        <a class="btn" href="@Url.Action("Index","Module")">@Messages.ButtonCancel</a>
    </fieldset>
}
