﻿@model Wabo.Web.Areas.Manager.ViewModels.User.ComposeMessageViewModel

@{
    ViewBag.Title = Messages.ComposeMessage;
}


@using (Html.BeginForm("Compose", "User"))
{
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>
        @Html.LabelFor( u => u.ToUser )
        @Html.DropDownListFor(u => u.ToUser, (IEnumerable<SelectListItem>) ViewBag.Users)
        @Html.LabelFor(u => u.MessageTitle)
        @Html.TextBoxFor(u => u.MessageTitle, new { @class = "span8" })
        @Html.LabelFor(u => u.MessageBody)
        @Html.TextAreaFor(u => u.MessageBody, new { @class = "span8", rows = 7 })
        <br />
        <button type="submit" class="btn btn-primary">@Messages.ComposeMessage</button>
        <a href="@Model.NavigationBackUrl" class="btn">@Messages.ButtonCancel</a>    
    </fieldset>
}
