﻿@model Wabo.Dal.User

@{
    ViewBag.Title = String.Format(Messages.HeadingDeleteUser,Model.username);
}


@using( Html.BeginForm("Delete","User",FormMethod.Post))
{
    @Html.HiddenFor(u => u.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>            
        <h3>
            @String.Format(Messages.DeleteUserConfirmationMessage,Model.username)
        </h3>
        <br />
        <button class="btn btn-danger" type="submit">@Messages.ButtonDelete</button>
        <a class="btn" href="@Url.Action("Index","User")">@Messages.ButtonCancel</a>
    </fieldset>
}
