﻿@model Wabo.Web.Areas.Manager.ViewModels.User.ReadMessageViewModel

@{
    ViewBag.Title = Model.MessageTitle;
    var mailBoxToShow = 0;
    if (Model.IsSentMail)
    {
        mailBoxToShow = 2;
    }
}
<div class="row">
    <div class="btn-group pull-left">        
        <h3>@Model.MessageTitle</h3>     
    </div>
    <div class="btn-group pull-right">
       
        @if (!Model.IsSentMail)
        {
            <a class="btn" href="@Url.Action("MarkAsUnread","User",new{id=Model.MessageId})">
                <i class="icon-envelope"></i>
                @Messages.DISP_MarkAsUnread
            </a>
            @:&nbsp;
            <a class="btn" href="@Url.Action("Compose", "User", new { id=Model.MessageId })">
                <i class=" icon-pencil"></i>@Messages.DISP_Reply to @Model.FromUser
            </a>
        }
        <a class="btn" href="@Url.Action("MailBox", "User", new { id = mailBoxToShow })">
            <i class="icon-backward"></i>@Messages.NavigationBack
        </a>        
        
        
    </div>
 </div>
<div class="row">
    <p>@MvcHtmlString.Create(Model.MessageBody.Replace(Environment.NewLine, "<br />"))</p>
</div>

