﻿@model Wabo.Dal.Module

@{
    ViewBag.Title = String.Format(Messages.HeadingDeleteModule,Model.title);
}


@using (Html.BeginForm("Delete", "Module"))
{    
    @Html.HiddenFor( m=> m.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>
        <h3>
            @String.Format(Messages.DeleteModuleConfirmationMessage,Model.title)<br/>
        </h3>
        <button class="btn btn-danger" type="submit">@Messages.ButtonDelete</button> 
        <a class="btn" href="@Url.Action("Index","Module")">@Messages.ButtonCancel</a>
    </fieldset>
    
}