﻿@model Wabo.Dal.Module

@{
    ViewBag.Title = String.Format(Messages.HeadingEditModule,Model.title);
}


@using (Html.BeginForm("Edit", "Module"))
{
    @Html.HiddenFor( p=>p.id)
    <fieldset>
        <legend>
            @ViewBag.Title
        </legend>
        @Html.LabelFor( p => p.title )
        @Html.TextBoxFor(p => p.title)
        @Html.LabelFor( p=> p.controller)
        @Html.TextBoxFor(p => p.controller)
        @Html.LabelFor( p => p.order)
        @Html.TextBoxFor(p => p.order) 
        <label class="checkbox">
            @Html.CheckBoxFor(p => p.show_on_menu)
            @MetadataMessages.DISP_ShowOnMenu
        </label>
        <br/>
        <button class="btn btn-primary" type="submit" >@Messages.ButtonUpdate</button>
        <a class="btn" href="@Url.Action("Index","Module")">@Messages.ButtonCancel</a>
    </fieldset>
}
