﻿<!DOCTYPE html>

@model LogonViewModel
@{
    Layout = null;
}

@{
    ViewBag.Title = Messages.HeadingLogonPage;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        var currentThemePath = Url.Content(ViewBag.ThemePath);
    }
    <link rel="stylesheet" href="@(currentThemePath+"css/bootstrap.css")"/>
    <link rel="stylesheet" href="@(currentThemePath+"css/logon.css")"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.0.js")"></script>
    <script src="@(currentThemePath+"js/bootstrap.js")"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    
</head>
    <body>        
        <div class="container">
            <div id="login-wrapper">
                @using(Html.BeginForm(  "Index",
                                        "Logon",
                                        FormMethod.Post,
                                        new{@class="form login-form"})
                    )
                {
                    <legend>@Messages.HeadingLogonPage</legend>
                    <div class="body">
                        @Html.LabelFor(x => x.Username) 
                        @Html.TextBoxFor(x => x.Username)      
                               
                        @Html.LabelFor( x => x.Password) 
                        @Html.PasswordFor(x => x.Password)

                        @if (ViewBag.SystemSettings.enable_active_directory_login)
                        {
                            <br />
                            @Html.LabelFor(x => x.Domain)
                            @Html.TextBoxFor(x => x.Domain) @*, new Dictionary<string, object> {{"id", "domainText"}}) *@
                        }
                    </div>
                    <div class="footer">                        
                        @if (!ViewBag.SystemSettings.enable_active_directory_login)
                        {
                            <label class="checkbox inline">                    
                                @Html.CheckBoxFor(x => x.RememberMe)
                                @Messages.LOGON_RememberMe
                            </label>
                        }
                        <button class="btn btn-success" type="submit">
                            @Messages.ButtonLogon
                        </button>
                        @Html.ValidationSummary()<br/>
                    </div>
                }            
            </div>                     
        </div>
       
           
    </body>
</html>