﻿@{
    ViewBag.Title = Wabo.Web.Resources.Messages.Warning;
}

<div class="container alert alert-warning alert-block ">
    <h3 class="text-center">@Wabo.Web.Resources.Messages.DISP_IpLockedMessage</h3>
</div>
